:root {
  --fade-time: 0.5s; /* set fade in duration */
}

body {
  margin: 20;
  padding: 0;
  background-color: #000;
}

.container {
  max-width: 780px;
  margin: auto;
  border: 3px solid #fff;
  background-color: #fff;
}

img {
  width: 100%;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.fade-in {
  animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
