body {
  margin: 20;
  padding: 0;
  background-color: #000;
}

.container {
  max-width: 780px;

  margin: auto;
  border: 3px solid #fff;
  background-color: #fff;
}

img {
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.fade-in {
  animation: fadeIn 0.5s ease-in 1 forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
